
.coaches {
  margin: 1.8rem 0;

}
.coachSelect {
    width: fit-content;
    padding: 10px 0;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 0;
    .aisle {
      padding: 15px;
    }
    li.seatMap {
      width: 25px;
      height: 25px;
      margin: 5px;
      &:first-child {
        margin-left: 40px;
      }
    }
    .coachList {
      padding: 0 15px 0 60px;
      li {
        content: '';
        list-style: none;
        display: inline-flex;
        &.map {
          margin-right: 20px;
        }
        &.available {
          @include icon($white, 1px solid $brand-secondary, 25px, 5px, 10px);
          &:hover {
            cursor: pointer;
            background-color: #79b928;
          }
        }
        &.reserved,
        &.booked,
        &.unavailable {
          @include icon($brand-secondary, none, 25px, 5px, 10px);
        }
        &.facility,
        &.toilet {
          @include icon(red, 1px solid red, 25px, 5px, 10px);
        }
        &.selected {
          @include icon(#79b928, 1px solid #79b928, 25px, 5px, 10px);
        }
        &.vantage {
          @include icon(#EEE8AA, 1px solid #EEE8AA, 25px, 5px, 10px);
        }
      }
    }
  }
  
  .coachInfo {
    margin: 10px 0;
    display: inline-flex;
    .selected {    
      padding-bottom: 10px;
      padding-right: 10px;
      span.icon {
        @include icon(#79b928, 1px solid #79b928, 45px, 6px 15px, 5px);
      }
    }
    .available {    
      padding-bottom: 10px;
      padding-right: 10px;
      span.icon {
        @include icon($white, 1px solid $brand-secondary, 45px, 6px 15px, 5px);
      }
    }
    .reserved {    
      padding-bottom: 10px;
      padding-right: 10px;
      span.icon {
        @include icon($brand-secondary, none, 45px, 6px 15px, 5px);
      }
    }
    .facilities {    
      padding-bottom: 10px;
      padding-right: 10px;
      span.icon {
        @include icon(red, 1px solid red, 45px, 6px 15px, 5px);
      }
    }
  }
  .coachSelection {
    border: 1px solid grey;
  }

  .customerSelect {
    padding: 0.8rem 0;
  }
  
  .customerList {
    padding: 0.8rem 0;
    .seat {
      list-style: none;
  
    }
  }

  .vantage-info {
    background-color: #EEE8AA;
    position: relative;
    margin-left: 80px;
    margin-top: 5px;
    .vantage-text {
      padding: 10px;
    }
    .vantage-title {
      font-weight: 500;
      padding: 10px;
    }

    &:before {
      position: absolute;
      content: '';
      top: -15px;
      width: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #EEE8AA;
    }
  }
