html{
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

body{
	font-family: 'Roboto', sans-serif;
}

p{
	color: $charcoal;
}

a{
	color: $blue !important;
	text-decoration: underline !important;
	cursor: pointer;

	&.btn{
		background-color: $green;
		border-radius: $border-radius;
		padding: 0.5rem 2rem;
		border: none;
		color: white !important;
		text-decoration: none !important;
		font-weight: 400;
		transition: $transition-default;
		outline:  none !important;
	
		&:hover{
			cursor: pointer;
			background-color: darken($green, 2%);
		}
	
		&.secondary{
			background-color: transparent;
			border: 2px solid $blue;
			color: $blue !important;
		}
	
		&.active{
			background-color: $green;
			color: white;
		}

		&:disabled{
			background-color: $grey;
			cursor: not-allowed;
		}
	}
}

a:link{
	color: $blue;
}

h1{
	letter-spacing: -0.4px;
}

.summary{
	background-color: $light-grey;
	padding: 2rem;
	margin: 0.8rem 0;
	border-radius: $border-radius;

	#hol-title{
		margin: -8px 0 0;
		font-size: rem(20);
		color: $blue;
	}

	.summary-section {
		padding: 0.3rem;
		font-size: rem(14);

		span {
			font-size: rem(16);
			font-weight: 500;
			padding: 0.2rem 0;
			border-bottom: 1px solid rgba(0,0,0,.1);
		}
		.list-title {
			font-size: rem(16);
			margin: 0.5rem 0;
		}

		ul {
			margin: 0.5rem 0;
		}
	}
	.summary-title {
		color: $grey;
		font-weight: 500;
		font-size: rem(21);
	}
}

.popular{
	color: $yellow;
	font-size: rem(20);
	font-weight: 600;
}

.success-check{
	color: $green;
	display: none !important;
}

footer{
	margin-top: 2rem;
	background-color: $light-grey;
	padding: 2rem;
}

.hidden {
	display: none !important;
}

.text-accent-1{
	color: $green;
}

.text-accent-2{
	color: $yellow;
}

.required{
	color: $error-red;
}
/*=============================================
=           	Titles & Headers             =
=============================================*/

.step-title{
	font-size: rem(24);
	color: $grey;
	font-weight: 500;
	letter-spacing: -0.4px;
	margin: 0;
	padding: 0.8rem 0;
}
.step-section-title{
	font-size: rem(38);
	color: $brand-secondary;
	font-weight: 300;
	letter-spacing: -0.4px;
	margin-top: rem(-10);
	border-bottom: 1px solid $border-grey;
	text-transform: capitalize;
}

.step-section-text{
	font-size: rem(16);
	font-weight: 500;
}

.section-header{
	border-bottom: 1px solid #ccc;
	font-size: rem(20);
	padding-bottom: rem(10);
	margin-bottom: 1rem;

	button{
		font-size: rem(14);
	}
}

.hidden-section-header{
	font-size: rem(20);
	padding: rem(10) 0;
	margin-bottom: 1rem;

	p{
		margin-top: 5px;
	}

	button{
		font-size: rem(14);
	}
}

.subtitle{
	font-size: rem(22);
}

.section-intro{
	font-size: rem(14);
	margin-bottom: 2rem;
}

.section {
	padding: 0.8rem 0;
	margin: 1.5rem 0;
	
	.section-title {
		font-weight: 500;
	}
}

.info {
	width: rem(20);
	height: rem(20);
	border-radius: 50%;
	background-color: $border-grey;
	color: white;
	padding: 1px 7px;
	margin-right: 5px;
	font-family: monospace;
	font-size: rem(24);
    font-weight: 600;
}

.info-text {
	font-size: rem(12);
	color: grey;
}


/*==================================
=            Form Items            =
==================================*/

.validation-error{
	border-color: $error-red;
}

label{
	display: block;
	width:100%;
	font-weight: 500;
}

.nice-select{
	width: 100% !important;
	border-color: $border-grey !important;

	ul{
		width: 100%;
		overflow-y: auto!important;
		max-height: 20.3333333333rem;
	}
}

input{
	padding: 0.48rem 0.8rem;
	width: 100%;
	border-radius: $border-radius;
	border: 1px solid $border-grey;
	outline: none !important;

	&.error{
		border-color: $error-red;
	}
}

.form-row{
	margin-bottom: 1rem;
}

button{
	background-color: $green;
	border-radius: $border-radius;
	padding: 0.5rem 2rem;
	border: none;
	color: white;
	font-weight: 400;
	transition: $transition-default;
	outline:  none !important;

	&:hover{
		cursor: pointer;
		background-color: darken($green, 2%);
	}

	&.secondary{
		background-color: transparent;
		border: 2px solid $green;
		color: $green;
	}

	&.active{
		background-color: $green;
		color: white;
	}

	&:disabled{
		background-color: $grey;
		cursor: not-allowed;
	}
}

.panel {
	border: 1px solid $border-grey;

	.panel-body {
		padding: 0.8rem;
		font-size: rem(18);
		font-weight: 500;
	}
}

.find-address, .enter-manually{
	width: 49%;
	margin-top: rem(29);
}

.form-section-title{
	font-size: rem(18);
	color: $blue;
	border-bottom: 1px dashed $border-grey;
	padding-bottom: rem(5);
}

/*==================================
=             Sections             =
==================================*/


.multi-options{
	.option{
		padding: 0.8rem;
		border: 1px solid $border-grey;
		transition: .3s;
		background-color: $light-grey;
		margin-bottom: rem(10);
		cursor: pointer;
		border-radius: $border-radius;
		
		label{
			display: inline;
			position: relative;
			top: 2px;
			margin-left: 0.3rem;
		}

		input[type="radio"]{
			width: auto;
		}

		.price{
			color: $green;
			font-weight: 500;
			margin-left: 1.8rem;
		}

		&.active{
			background-color: lighten($yellow, 35%);
			border: 1px solid $yellow;
		}

		ul{
			columns: 3;
			list-style-position: inside;
			padding-left: 0;

			@include media("med"){
				columns: 1;
			}
		}
	}
}

.room-cabin-image{
	width: 100%;
	height: rem(230);
	margin-bottom: 1rem;
}

.group{
	margin-bottom: 1rem;
	width: 100%;
}

.payment-method-options{
	input[type=radio]{
		width: auto !important;
	}

	label{
		display: inline;
		margin-left: rem(5);
	}
}
.back-button {
	text-decoration: underline;
}

.hidden{
	display: none;
}

.room-extras{

	.extra-img{
		width: 100%;
		height: rem(120);
		margin-bottom: 0.5rem;
	}
	.item-title{
		margin-bottom: 0.5rem;
		font-weight: 500;
	}

	button{
		width: 100%;
	}
	.room-extra{
		margin-bottom: 1rem;
	}

	.price{
		color: $green;
		font-weight: 500;
		margin: 0;
	}
}

.show-extras{
	width: 100%;
}

.item-title{
	font-size: rem(22);
}

.special-requirements{
	display: none;

	ul{
		columns: 3;
		list-style-position: inside;
		padding-left: 0;

		li{
			list-style-type: none;
		}

		input, label{
			width: auto !important;
			display: inline;
		}

		label{
			margin-left: 0.3rem;
		}

		@include media("med"){
			columns: 1;
		}
	}
}

.guest{
	background-color: $light-grey;
	padding: 1rem;
	margin-bottom: 1rem;
}

.outward-info, .return-info{
	color: $green;
	font-weight: 500;
}

#stepone-lead-passenger{
	background-color: $light-grey;
}

.passenger-type-container{
	width: 100%;

	.passenger-type{
		font-size: rem(18);
		color: $blue;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
	}
}

[data-pax]{
	border-bottom: 1px dashed $border-grey;
	padding-bottom: 1rem;

	&:last-of-type{
		border-bottom: 0;
	}
}

.fa.fa-star{
	color: $yellow;
}