body{
	font-family: 'Roboto', sans-serif;
}

p{
	color: $charcoal;
}

.summary{
	background-color: $light-grey;
	padding: 2rem;
	text-align: center;
	margin: 0.8rem 0;
}

.popular{
	color: $yellow;
	font-size: rem(20);
	font-weight: 600;
}

.success-check{
	color: $green;
	display: none !important;
}

footer{
	margin-top: 2rem;
	background-color: $light-grey;
	padding: 2rem;
}

.hidden {
	display: none;
}

.text-accent-1{
	color: $green;
}

.text-accent-2{
	color: $yellow;
}

.required{
	color: $error-red;
}
/*=============================================
=           	Titles & Headers             =
=============================================*/

.step-title{
	font-size: rem(24);
	color: $grey;
	font-weight: 500;
	letter-spacing: -0.4px;
	margin: 0;
	padding: 0.8rem 0;
}
.step-section-title{
	font-size: rem(38);
	color: $brand-secondary;
	font-weight: 300;
	letter-spacing: -0.4px;
	margin-top: rem(-10);
	border-bottom: 1px solid $border-grey;
	text-transform: capitalize;
}

.step-section-text{
	font-size: 16px;
	font-weight: 500;
}

.section-header{
	border-bottom: 1px solid #ccc;
	font-size: rem(20);
	padding-bottom: rem(10);
	margin-bottom: 1rem;
}

.subtitle{
	font-size: rem(22);
}

.section-intro{
	font-size: rem(14);
	margin-bottom: 2rem;
}

.section {
	padding: 0.8rem 0;
	margin: 1.5rem 0;
	
	.section-title {
		font-weight: 500;
	}
}

.info {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: $border-grey;
	color: white;
	padding: 1px 7px;
	margin-right: 5px;
	font-family: monospace;
	font-size: 24px;
    font-weight: 600;
}

.info-text {
	font-size: 12px;
	color: grey;
}


/*==================================
=            Form Items            =
==================================*/

.validation-error{
	border-color: $error-red;
}

label{
	display: block;
	width:100%;
	font-weight: 500;
}

.nice-select{
	width: 100% !important;
	border-color: $border-grey !important;
}

input{
	padding: 0.48rem 0.8rem;
	width: 100%;
	border-radius: $border-radius;
	border: 1px solid $border-grey;
	outline: none !important;
}

.form-row{
	margin-bottom: 1rem;
}

button{
	background-color: $green;
	border-radius: $border-radius;
	padding: 0.5rem 2rem;
	border: none;
	color: white;
	font-weight: 400;
	transition: $transition-default;
	outline:  none !important;

	&:hover{
		cursor: pointer;
		background-color: darken($green, 2%);
	}
}

.panel {
	border: 1px solid $border-grey;

	.panel-body {
		padding: 0.8rem;
		font-size: 18px;
		font-weight: 500;
	}
}

.find-address, .enter-manually{
	width: 49%;
	margin-top: rem(29);
}

.form-section-title{
	font-size: rem(18);
	color: $blue;
	border-bottom: 1px dashed $border-grey;
	padding-bottom: rem(5);
}

/*==================================
=             Sections             =
==================================*/


.multi-options{
	.option{
		padding: 0.8rem;
		border: 1px solid $border-grey;
		transition: .3s;
		background-color: $light-grey;
		margin-bottom: rem(10);
		
		label{
			display: inline;
			position: relative;
			top: 2px;
			margin-left: 0.3rem;
		}

		input[type="radio"]{
			width: auto;
		}

		.price{
			color: $green;
			font-weight: 500;
			margin-left: 1.4rem;
		}

		&.active{
			background-color: lighten($yellow, 35%);
			border: 1px solid $yellow;
		}

		ul{
			columns: 3;
			list-style-position: inside;
			padding-left: 0;
		}
	}
}

.room-cabin-image{
	width: 100%;
	height: rem(230);
	margin-bottom: 1rem;
}

.group{
	margin-bottom: 1rem;
	width: 100%;
}

.payment-method-options{
	input[type=radio]{
		width: auto !important;
	}

	label{
		display: inline;
		margin-left: rem(5);
	}
}
.back-button {
	text-decoration: underline;
}
