.success-box{
	//background-color: $green;
	color: white;
    padding: 3rem;
    background: #499bea; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #499bea 0%, #005faa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #499bea 0%,#005faa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #499bea 0%,#005faa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#005faa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	h1{
		font-weight: 300;
    }
    border-bottom: 5px solid $yellow;
}

.booking-summary{
    margin-top: 2rem;

    .btn{
        width: 100%;
    }

    p{
        margin: 0;
    }

    p.section-header{
        margin-bottom: 1.5rem !important;
    }
}

.holiday-title{
    color: $blue !important;
}